body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador{
    
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 3em;
}

h2{
    justify-content: center;
}

.topo{
    display: flex;
    justify-content: space-around;
}

.total{
    display: block;
    margin: 2em;
}
.pessoas{
    display: flex;
}
button{
    border: none;
    border-radius: 50%;

    margin: 1em;
}

.menos{
    background-color: red;
    color: white;
    font-size: 2em;
    padding: 1em;
}

.mais{
    background-color: green;
    color: white;
    font-size: 2em;
    padding: 1.5em;
}
.baixo{
    display: block;
    justify-content: center;
}
.valor{
    border: 1px solid black;
    justify-content: center;
    padding: 1em;
    size: 3em;
}